body{
    margin: 0;
    background-image: var(--bg1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;      /* centraliza verticalmente */
    justify-content: center;  /* centraliza horizontalmente */
}

:root{
    --text-color1: #ffffff;
    --text-color2: #cf0000;
    --bg1: url(assets/Icons/principal.gif);
    --switch-bg-url: url(assets/Icons/moon-stars.svg);
}

.lightmode{
    --text-color1: black;
    --text-color2: black;
    --bg1: url(assets/Icons/principalblack.gif);
      --switch-bg-url: url(assets/Icons/sun.svg);
}


h1{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    color: var(--text-color1);
        text-shadow: 0 0 1px #ffffff, 
               0 0 10px #6606ff, 
               0 0 20px #ffffff, 
               0 0 40px #ffffff, 
               0 0 80px #f8f8f8;
}

p{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 600;
    color: var(--text-color2);
    font-size: 20px;
    text-shadow:
     0 0 1px #ffffff,        
     0 0 5px #6606ff,         
     0 0 5px #ffffff,        
     0 0 5px #ffffff,     
     0 0 5px #f8f8f8;
    position: relative;
        
}

/*swich*/
#swich{
    position: relative;
    width: 64px;
    padding: 4px;
    margin: 8px auto;
}


#swich span {
    display: block;
    width: 64px;
    height: 24px;
    background: rgba(255,255,255,0.1);
    border: 1px solid;
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

#swich button{
    width: 32px;
    height: 32px;

    background-color: white;
    background-image: var(--switch-bg-url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;

    border: 0;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.lightmode #swich button {
    right: 0;
    left: initial;
}


.card{
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 10px;
    width: 530px;
    height: 210px;
    
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.6),
    0 0 20px rgba(124, 124, 124, 0.753); /* serve para dar profundidade */
    background: rgba(44, 4, 223, 0.2);
    }



.player{
    width: 530px;
    height: 150px;

    margin-top: 20px;

    color: rgb(0, 0, 0);
    font-family: "Pixelify Sans", sans-serif;

    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 12px;

    background: rgba(105, 3, 97, 0.2);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.6),
        0 0 20px rgba(124,124,124,0.753);
    text-align: center;
    }


    #social-links {
        display: flex;              /* coloca os ícones um ao lado do outro */
        justify-content: center;    /* centraliza horizontalmente */
        gap: 30px;                  /* espaço entre os ícones */
        margin-top: 25px;
    filter: 
    drop-shadow(0 0 8px #464646)      
    drop-shadow(0 0 8px #ffffff) 
    drop-shadow(0 0 8px #ffffff);
    }
